body{
    width: 100vw;
  }

.movie-page{
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
}

.movie-page svg{
    font-size: 1.5rem;
    color: #f7d354;
}

.movie-page .movie-card{
    text-align: center;
}
.movie-card .movie-page img,
.movie-card .movie-page h2,
.movie-card .movie-page p{
    margin-bottom: 1rem;
}
.movie-page .movie-card h2{
    font-size: 2rem;
}
.movie-page .movie-card p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}
.tagline{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.info{
    margin-bottom: 1.5rem;
}

.info h3{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}
.description{
    padding-bottom: 10rem;
}
.description p{
    line-height: 1.4rem;

}

@media(max-width:1050px){
    .movie-page{
        color: #fff;
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 2rem auto;
    }
    body{
        height: auto;
        width: 100vw;
    }
}
@media(max-width:950px){
    .movie-page img{
        width: 80%;
    }
}
@media(max-width:850px){
    .movie-page img{
        width: 70%;
    }
     .movie-page .movie-card h2{
        font-size: 1.5rem;
        margin: 0.5rem;
    }
}
@media(max-width:700px){
    .movie-page img{
        width: 60%;
    }
    .movie-page .movie-card h2{
        font-size: 1.5rem;
    }
    .info{
        margin-left: 10%;
    }
    
   
}
@media(max-width:600px){
    .info p{
        margin: 1rem;
        text-indent: 5px;
     }
     .tagline{
        text-align: center;
        font-size: 1.2rem;
       
    }
}



@media(max-width:500px){
    .movie-page img{
        width: 50%;
    }
    .movie-page .movie-card h2{
        font-size: 1.2rem;
    }
    .tagline{
        text-align: center;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .info{
        width: 100%;
        align-items: center;
        text-align: center;
        margin-left:0;
        
    }
    .info h3{
       
        justify-content: center;
        text-align: center;
    }
    .info p{
       margin: 1rem;
       text-indent: 5px;
    }
}
